@model DoAnCoSo.Models.Product

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- Product main img -->
        <div class="col-md-5 col-md-push-2">
            <div id="product-main-img">
                <div class="product-preview">
                    <img style="align-self: center; width: %; height: 500px;" alt="@Model.title"
                         src="~/Content/images/@Model.thumbnail" />
                </div>



            </div>
        </div>
        <!-- /Product main img -->
        <!-- Product thumb imgs -->
        <div class="col-md-2  col-md-pull-5">
            <div id="product-imgs">
                <div class="product-preview">
                    <img src="~/Content/images/@Model.thumbnail" alt="">
                </div>

                <div class="product-preview">
                    <img src="./img/product03.png" alt="">
                </div>

                <div class="product-preview">
                    <img src="./img/product06.png" alt="">
                </div>

                <div class="product-preview">
                    <img src="./img/product08.png" alt="">
                </div>
            </div>
        </div>
        <!-- /Product thumb imgs -->
        <!-- Product details -->
        <div class="col-md-5">
            <div class="product-details">
                <h2 class="product-name" style="font-size:24px">@Model.title</h2>
                <div>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>

                </div>
                <div>
                    <h3 class="product-price" style="font-size: 20px">Giá sản phẩm: <span></span>@Model.FormattedAmount</h3>

                </div>
                <p style="font-size: 16px">Mô tả: @Model.description</p>



                <div class="order_product">
                    @*<a href="/ShoppingCart/">Đặt hàng</a>*@
                    @Html.ActionLink("Đặt hàng", "AddToCart", "ShoppingCart", new
                                           {
                                               id = Model.id
                                           }, "")
                </div>







            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:left">
        <div id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                <li><a data-toggle="tab" href="#tab2">Details</a></li>
                <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
            </ul>
            <!-- /product tab nav -->
            <!-- product tab content -->
            <div class="tab-content">
                <!-- tab1  -->
                <div id="tab1" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-12">
                            <p>@Model.title</p>
                        </div>
                    </div>
                </div>
                <!-- /tab1  -->
                <!-- tab2  -->
                <div id="tab2" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-md-12">
                            <p>@Model.title</p>
                        </div>
                    </div>
                </div>
                <!-- /tab2  -->
                <!-- tab3  -->
                <div id="tab3" class="tab-pane fade in">
                    <div class="row">
                        <!-- Rating -->
                        <div class="col-md-3">


                        </div>
                        <!-- /Rating -->
                        <!-- Reviews -->
                        <div class="col-md-6">
                            <div id="reviews">
                                <ul class="reviews">
                                    <li>
                                        <div class="review-heading">
                                            <h5 class="name">John</h5>
                                            <p class="date">27 DEC 2018, 8:0 PM</p>
                                            <div class="review-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="review-heading">
                                            <h5 class="name">John</h5>
                                            <p class="date">27 DEC 2018, 8:0 PM</p>
                                            <div class="review-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="review-heading">
                                            <h5 class="name">John</h5>
                                            <p class="date">27 DEC 2018, 8:0 PM</p>
                                            <div class="review-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="reviews-pagination">
                                </ul>
                            </div>
                        </div>
                        <!-- /Reviews -->
                        <!-- Review Form -->
                        <div class="col-md-3">
                            <div id="review-form">
                                <form class="review-form">
                                    <input class="input" type="text" placeholder="Your Name">
                                    <input class="input" type="email" placeholder="Your Email">
                                    <textarea class="input" placeholder="Your Review"></textarea>
                                    <div class="input-rating">
                                        <span>Your Rating: </span>
                                        <div class="stars">
                                            <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                            <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                            <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                            <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                            <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                        </div>
                                    </div>
                                    <button class="primary-btn">Submit</button>
                                </form>
                            </div>
                        </div>
                        <!-- /Review Form -->
                    </div>
                </div>
                <!-- /tab3  -->
            </div>
            <!-- /product tab content  -->
        </div>
    </div>
</div>




<h3>Comments</h3>
<section>
    <div>
        <div>
            <div class="col-md-11 col-lg-9 col-xl-7">

                @foreach (var comment in Model.Comment)
                {

                    <div class="d-flex flex-start mb-4">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
                             height="65" />
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div class="">
                                    <h6>Johny Cash</h6>
                                    <p class="small">3 hours ago</p>
                                    <p>
                                        @comment.message
                                    </p>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                                            <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                                        </div>
                                        <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>


    <h3>Add comment</h3>

    @using (Html.BeginForm("AddComment", "Shop", new { id = Model.id }))
    {
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="Comment.Message" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    }
